@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #1F2921;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgb(59, 59, 59);
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

.container {
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #75B800;
    background-image: linear-gradient(to bottom, #75B800, #5D9200);
    box-shadow: -1px 0px 32px #00000055, 1px 0px 32px #00000055;
    overflow: auto;
}

.header {
    text-align: center;
    color: white;
    background-color: #5D9200;
    padding: 4px;
}

.supported-list {
    margin-top: 5px;
    height: 100%;
}

.sl-header {
    padding: 6px;
    background-color: rgb(133, 211, 0);
}

.list-item {
    padding: 6px;
    color: white;
    background-color: #4C6029;
    border-left: 5px solid rgb(255, 147, 45);
    margin: 5px 0;
    position: relative;
}

.li-fully-optimized {
    border-left: 5px solid rgb(47, 243, 29);
}

.li-title {
    font-size: 28px;
    font-weight: bolder;
}

.li-publisher {
    font-size: 16px;
}

.li-support-state {
    font-size: 9px;
}

.li-steam-button {
    position: absolute;
    bottom: 0px;
    right: 3px;
}